<div class="row">
    <div class="col-6 offset-3">
        <br>
        <h2 class="text-center">Sign up</h2>
        <br>
        <form (ngSubmit)="onSubmit(f)" 
                #f="ngForm"
                name="sign-up" >
            <div class="form-group">
                <label for="name"><b>Nombre</b></label>
                <input type="text" 
                        name="name" 
                        [(ngModel)] ="usuario.nombre" 
                        class="form-control" 
                        id="name" required>
            </div>
            <div class="form-group">
                <label for="name"><b>NIT</b></label>
                <input type="text" 
                        name="nit" 
                        [(ngModel)] ="usuario.NIT" 
                        class="form-control" 
                        id="nit" required>
            </div>
            <div class="form-group">
                <label for="phone"><b>Dirección</b></label>
                <input type="text" 
                        name="address" 
                        [(ngModel)] ="usuario.direccion" 
                        class="form-control" 
                        id="address" required>
            </div>
            <div class="form-group">
                <label for="phone"><b>Teléfono</b></label>
                <input type="text" 
                        name="phone" 
                        [(ngModel)] ="usuario.telefono" 
                        class="form-control" 
                        id="phone" required>
            </div>
            <div class="form-group">
                <label for="name"><b>Correo electrónico</b></label>
                <input type="email" 
                        name="email" 
                        [(ngModel)] ="usuario.email" 
                        class="form-control" 
                        id="email" required email>
            </div>
            <div class="form-group">
                <label for="password"><b>Contraseña</b></label>
                <input type="password" 
                        name="password" 
                        [(ngModel)] ="usuario.password" 
                        class="form-control" 
                        id="password" required minlength="4">
            </div>
            <div class="justify-content-center align-self-center">
                <button type="submit" class="btn btn-primary"> Sign Up</button>
            </div>
        </form>
    </div>
</div>
<br>
<br>