<div class-="body" *ngIf="dataReady">
<div class="dropdown">
    <div class="col-md-4">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="guardarDropdown">Guardar cómo</button>
        <form class="dropdown-menu px-4 py-3" id="guardarDropdown" aria-labelledby="guardarDropdown" (ngSubmit)="onClicked(f)" #f="ngForm">
            <div class="form-group">
              <label for="dropdownDocName">Nombre del documento</label>
              <input type="text" class="form-control" [(ngModel)] ="docTitle"  name="titulo"
              id="dropdownDocName" placeholder="Título del documento">
            </div>
            <button type="submit" class="btn btn-primary">Guardar</button>
          </form>
    </div>
</div> 
<br>
    <ckeditor [editor]="Editor" [config] = 'config' [(data)]='data' (change)="onChange($event)" [disabled]='isDisabled'></ckeditor>
    <br>
    <br>
    <div class="row">
        <div class="col-md-11">
        </div>
        <div class="col-md-1">
            <button type="button" class="btn btn-success" (click)="accept()">Aceptar</button>
        </div>
    </div>
    <br>
</div>

