<div class-="body" *ngIf="dataReady">
    <nav class="navbar navbar-light bg-light">
        
            <form class="form-inline" (ngSubmit)="onClicked(f)" #f="ngForm"> 
                <div class="form-group mb-2">
                  <label for="staticField" class="sr-only">Título</label>
                  <input type="text" readonly class="form-control-plaintext" id="staticField" value="Título del documento">
                </div>
                <div class="form-group mx-sm-3 mb-2">
                  <label for="inputTitle" class="sr-only">Title</label>
                  <input type="text" class="form-control" id="inputTitle" placeholder="Título" [(ngModel)] ="docTitle"  name="titulo">
                </div>
                <button type="submit" class="btn btn-primary mb-2">{{bottonName}}</button>
              </form>
       
    </nav>
    <br>
    <ckeditor [editor]="Editor" [config] = 'config' [(data)]='data' (change)="onChange($event)" [disabled]='isDisabled'></ckeditor>
    <br>
    <br>
    <div class="row">
        <div class="col-md-11">
        </div>
        <div class="col-md-1">
            <button type="button" class="btn btn-success" (click)="accept()">Aceptar</button>
        </div>
    </div>
    <br>
</div>

