
<div class="jumbotron">
    <h2>Mis documentos</h2>
</div>
<div class="card-group">
    <div class="card text-center">
        <img class="card-img-top img-fluid" src="./../../../assets/plus.png" alt="Card image cap" data-toggle="collapse" href="#createCollapse" role="button" aria-expanded="false" aria-controls="createCollapse">
        <div class="card-body">
            <br>
            <div class="collapse" id="createCollapse">
                
                    <button class="btn btn-primary btn-block">Subir archivo</button>
                    <button class="btn btn-secondary btn-block" [routerLink]="['/newDocument']">Crear nuevo</button>
                </div>
                
        </div>
    </div>
    <div class="card text-center" *ngFor="let doc of documents">
        <img class="card-img-top" src="./../../../assets/file.png" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">{{doc.name}}</p>
          <p class="card-text"><small class="text-muted">Última actualización hace 3 minutos</small></p>
        </div>
      </div>
</div>




