<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<style>
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }
  

  .navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    background-color: #FFCD4D;
    color: white;
    font-weight: 600;
  }

  .navbar img {
    margin: 0 16px;
  }

  svg.material-icons {
    height: 24px;
    width: auto;
  }
</style>


<nav class="navbar">
  <a class="navbar-brand" href="/">
    <img src="./../assets/Agilex Logo.png" width="150">
  </a>
</nav>

<app-documents></app-documents>







<!-- Footer -->
  <footer class="page-footer special-color-dark" id="footer">
    <div class="container">
      <p class="navbar-text text-center">
        <img src="../assets/Agilex blanco.png" alt="logo" width="20%" /><span id="footer-text"></span>
        <a routerLink="/home"> Agilex</a>
        <a> © Uniandes 2020. Diseño e Innovación en TI</a>
      </p>
    </div>
  </footer>