
<nav class="navbar">
  <a class="navbar-brand" href="/">
    <img src="./../assets/Agilex Logo.png" width="150">
  </a>
  <a routerLink='newDocument'>Create a document</a>
</nav>

<!-- Footer -->
  <footer class="page-footer special-color-dark" id="footer">
    <div class="container">
      <p class="navbar-text text-center">
        <img src="../assets/Agilex blanco.png" alt="logo" width="20%" /><span id="footer-text"></span>
        <a routerLink="/home"> Agilex</a>
        <a> © Uniandes 2020. Diseño e Innovación en TI</a>
      </p>
    </div>
  </footer>

  <router-outlet></router-outlet>