<div class="main-container">
  <nav class="navbar">
    <a class="navbar-brand" href="/">
      <img src="./../assets/Agilex Logo.png" width="150">
    </a>
        <a routerLink='newDocument' >Crear nuevo documento</a>
        <a routerLink='/documents' >Mis documentos</a> 
  </nav>

  <br>
  <br>
  <br>
  <br>

<div>
  <router-outlet></router-outlet>
</div>

  <!-- Footer -->
  <footer class="page-footer special-color-dark" id="footer">
    <div class="container">
      <p class="navbar-text text-center">
        <img src="../assets/Agilex blanco.png" alt="logo" width="20%" /><span id="footer-text"></span>
        <a routerLink="/home"> Agilex</a>
        <a> © Uniandes 2020. Diseño e Innovación en TI</a>
      </p>
    </div>
  </footer>
</div>